# Table of Contents
 <p>

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})

In [4]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [5]:
df['sum'] = df['a'] + df['b']

In [6]:
df

    a   b  sum
0  10  20   30
1  20  30   50
2  30  40   70

In [11]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})
df

    a   b
0  10  20
1  20  30
2  30  40

In [8]:
def my_mean_2(x, y):
    return((x + y) / 2)

In [10]:
assert my_mean_2(10, 20) == 15

In [12]:
def my_sq(x):
    return x*x

In [14]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [15]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [16]:
df.apply(my_mean_2)

TypeError: ("my_mean_2() missing 1 required positional argument: 'y'", 'occurred at index a')

In [24]:
def print_me(x):
    print(x)
    print('*'*80)
df

    a   b
0  10  20
1  20  30
2  30  40

In [23]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
********************************************************************************
0    20
1    30
2    40
Name: b, dtype: int64
********************************************************************************

a    None
b    None
dtype: object

In [25]:
df.apply(print_me, axis=1)

a    10
b    20
Name: 0, dtype: int64
********************************************************************************
a    20
b    30
Name: 1, dtype: int64
********************************************************************************
a    30
b    40
Name: 2, dtype: int64
********************************************************************************

0    None
1    None
2    None
dtype: object

In [26]:
def my_mean_apply(x):
    v1 = x[0]
    v2 = x[1]
    return (v1 + v2) / 2

In [28]:
df['rmean'] = df.apply(my_mean_apply, axis=1)

In [29]:
df

    a   b  rmean
0  10  20   15.0
1  20  30   25.0
2  30  40   35.0

In [30]:
df.apply(len)

a        3
b        3
rmean    3
dtype: int64

In [36]:
df.apply(lambda x: x*x)

     a     b   rmean
0  100   400   225.0
1  400   900   625.0
2  900  1600  1225.0

In [39]:
def my_mean(x):
    return x.mean()

In [41]:
df.apply(my_mean, axis=1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [42]:
import numpy as np
import numba

In [43]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})
df

    a   b
0  10  20
1  20  30
2  30  40

In [45]:
def my_mean_apply(x):
    v1 = x[0]
    v2 = x[1]
    return (v1 + v2) / 2

In [51]:
%%timeit
df.apply(my_mean_apply)

496 µs ± 32.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [47]:
@np.vectorize
def my_mean_2(x, y):
    return((x + y) / 2)

In [53]:
%%timeit
my_mean_2(df['a'], df['b'])

104 µs ± 1.6 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [56]:
%%timeit
@numba.vectorize
def my_mean_2(x, y):
    return((x + y) / 2)
my_mean_2(df['a'].values, df['b'].values)

76.6 ms ± 6.23 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)