# Table of Contents
 <p>

In [7]:
import pandas as pd
import numpy as np

In [5]:
gapminder = pd.read_csv('../data/gapminder.tsv', delimiter='\t')

In [6]:
gapminder.groupby(['year'])['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [8]:
gapminder.groupby(['year'])['lifeExp'].agg(np.mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [9]:
def my_mean(x):
    return np.mean(x)

In [10]:
gapminder.groupby(['year'])['lifeExp'].agg(my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [16]:
(gapminder
 .groupby(['year'])['lifeExp']
 .agg([my_mean, np.mean, np.std])
 .rename(columns={
     'my_mean': 'dan_mean',
     'mean': 'np_mean',
     'std': 'np_std'
 })
 .reset_index()
)

    year   dan_mean    np_mean     np_std
0   1952  49.057620  49.057620  12.225956
1   1957  51.507401  51.507401  12.231286
2   1962  53.609249  53.609249  12.097245
3   1967  55.678290  55.678290  11.718858
4   1972  57.647386  57.647386  11.381953
5   1977  59.570157  59.570157  11.227229
6   1982  61.533197  61.533197  10.770618
7   1987  63.212613  63.212613  10.556285
8   1992  64.160338  64.160338  11.227380
9   1997  65.014676  65.014676  11.559439
10  2002  65.694923  65.694923  12.279823
11  2007  67.007423  67.007423  12.073021

In [18]:
gapminder\
 .groupby(['year'])['lifeExp']\
 .agg([my_mean, np.mean, np.std])\
 .rename(columns={
     'my_mean': 'dan_mean',
     'mean': 'np_mean',
     'std': 'np_std'
 })\
 .reset_index()

    year   dan_mean    np_mean     np_std
0   1952  49.057620  49.057620  12.225956
1   1957  51.507401  51.507401  12.231286
2   1962  53.609249  53.609249  12.097245
3   1967  55.678290  55.678290  11.718858
4   1972  57.647386  57.647386  11.381953
5   1977  59.570157  59.570157  11.227229
6   1982  61.533197  61.533197  10.770618
7   1987  63.212613  63.212613  10.556285
8   1992  64.160338  64.160338  11.227380
9   1997  65.014676  65.014676  11.559439
10  2002  65.694923  65.694923  12.279823
11  2007  67.007423  67.007423  12.073021

In [20]:
def my_zscore(x):
    return (x - x.mean()) / x.std()

In [22]:
ztransform = gapminder.groupby('year').lifeExp.transform(my_zscore)

In [23]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [25]:
gapminder['z_all'] = my_zscore(gapminder['lifeExp'])

In [26]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap     z_all
0  Afghanistan      Asia  1952   28.801   8425333  779.445314 -2.374637
1  Afghanistan      Asia  1957   30.332   9240934  820.853030 -2.256112
2  Afghanistan      Asia  1962   31.997  10267083  853.100710 -2.127213
3  Afghanistan      Asia  1967   34.020  11537966  836.197138 -1.970599
4  Afghanistan      Asia  1972   36.088  13079460  739.981106 -1.810501

In [27]:
gapminder['z_group'] = ztransform
gapminder.head()

,country,continent,year,lifeExp,pop,gdpPercap,z_all,z_group
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,-2.374637,-1.656854
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,-2.256112,-1.731249
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,-2.127213,-1.786543
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,-1.970599,-1.848157
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,-1.810501,-1.894173